

body {
    font-size: 22px;
    background-color: rgb(27, 27, 27);
    color: rgb(197, 197, 197);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 35px;
    max-width: 50%;
}

h2 {

}

.container{
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

figure {
    margin: 3%;
    width:94%;
}

@media (min-width:800px) and (max-width:1299px) {

    body {
        font-size: 30px;
        background-color: rgb(100, 68, 68);
        color: rgb(197, 197, 197);
        font-family: 'Lato', sans-serif;
        margin:5%;
    }


    figure {
        flex-wrap: wrap;
        width: 47%;
        margin: 1%;
    }

    

    .container{
        display: flex;
        justify-content: center;
    }

}


@media (min-width:1300px){

    body {
        font-size: 40px;
        background-color: rgb(105, 49, 49);
        color: rgb(197, 197, 197);
        font-family: 'Lato', sans-serif;
        margin:7%;
        max-width: 2100px;
    }

    figure {
        flex-wrap: wrap;
        width: 31%;
        margin: 1%;
    }

    .container{
        display: flex;
        justify-content: center;
    }

}