html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(214, 204, 175);
  font-family: 'Amatic SC', cursive;
  max-width: 100%;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 50px;
}

h2{
  text-align: center;
  font-size: 40px;
}

h3{
  text-align: center;
  font-size: 30px;
}

footer {
  background-image: url("https://i.pinimg.com/originals/76/1d/18/761d183dea7cc21fbc0ee5f4418e36f0.jpg");
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}

footer p {
  text-align: center;
}

p {
  font-size: 25px;
  margin: 5%;
  line-height: 35px;
}

.container {
  max-width: 100%;
}

.titulo {
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 50px;
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: auto;
}

nav ul li {
  margin: 10px;
  font-size: 30px;
}

aside {
  max-width: 100%;
  justify-content: center;
  margin: auto;
}

aside ul {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

aside ul li {
  margin: 1%;
  background-color: rgb(14, 14, 14);
  list-style-type: none;
  width: 27%;
  height: 60px;
  text-align: center;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover{
  color: rgb(160, 134, 21);
  background-color:  rgb(0, 0, 0);
}

@media (min-width: 700px) and (max-width: 1000px){

  aside {
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }
  
  aside ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
  }

  aside ul li {
    margin: 0.5%;
    background-color: rgb(14, 14, 14);
    list-style-type: none;
    width: 15%;
    height: 60px;
    text-align: center;
    font-size: 22px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (min-width: 1000px){

  aside {
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }
  
  aside ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
  }

  aside ul li {
    margin: 0.5%;
    background-color: rgb(14, 14, 14);
    list-style-type: none;
    width: 15%;
    height: 60px;
    text-align: center;
    font-size: 26px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

}